{
  "openapi": "3.0.3",
  "info": {
    "version": "1.2.0",
    "title": "West Direct RESTful API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "API calls for clients"
  },
  "host": "api.directx.ca/",
  "basePath": "/",
  "tags": [
    {
      "name": "Orders",
      "description": "API calls for shipments"
    },
    {
      "name": "Sms",
      "description": "Write SMS messages to send to clients"
    }
  ],
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],

  "paths": {
    "/sendSMS": {
      "post": {
        "tags": [
          "Sms"
        ],
        "summary": "Send a message",
        "description": "",
        "operationId": "sendSMS",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Send message with tracking number and order status",
            "required": true,
            "schema": {
              "properties": {
                "phonenumber": {
                  "type": "string",
                  "description": "Phone Number"
                },
                "trackingNumber": {
                  "type": "string",
                  "description": "Tracking Number"
                },
                "url": {
                  "type": "string",
                  "description": "Tracking URL"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Make an order",
        "description": "Create a new order",
        "operationId": "postOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Order info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description" : "OK",
            "schema" :{
              "type": "object",
              "properties" : {
                "companyID" : {
                  "type" : "integer"
                },
                "jobID" : {
                  "type" : "string"
                },
                "foxJob" : {
                  "type" : "string"
                },
                "email_req" : {
                  "type" : "string",
                  "format" : "email"
                },
                "email_addr" : {
                  "type" : "string",
                  "format" : "email"
                },
                "ship_addressID" : {
                  "type" : "string"
                },
                "trackingNumber" : {
                  "type" : "string"
                },
                "isEmailSent" : {
                  "type" : "integer"
                },
                "result" : {
                  "type" : "string"
                },
                "returnJobID" : {
                  "type" : "string"
                },
                "returnTrackingNumber" : {
                  "type" : "string"
                },
                "returnFoxJob" : {
                  "type" : "string"
                },
                "returnResult" : {
                  "type" : "string"
                }
                
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/order/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "Get order by account ID and job ID",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete order",
        "description": "Delete order by account ID and job ID",
        "operationId": "deleteOrder",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200" : {
            "description" : "OK"
          },
          "400": {
            "description": "Invalid account ID supplied"
          },
          "404": {
            "description": "Order not found"
          }
        },
        "deprecated" : true
      }
    },
    "/orders/{account}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get orders",
        "description": "Get orders of an account",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Order"
              }

            }
          }

        }
      }
    },
    
    "/zpl/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order zpl label",
        "description": "",
        "operationId": "zpl",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a ZPL Label"
          },
          "500": {
            "description": "Cannot find order info"
          }
        }
      }
    },
    
    "/orderPhoto/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order photo",
        "description": "Retrieve first photo of the order",
        "operationId": "orderPhoto",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order"
          },
          "404": {
            "description": "Cannot find photos"
          }
        }
      }
    },
    "/orderPhoto/{account}/{jobID}/{photoNumber}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order photo",
        "description": "Retrieve photo of the order",
        "operationId": "orderPhotoByNumber",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          },
          {
            "name": "photoNumber",
            "in": "path",
            "required": true,
            "description": "Photo number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order"
          },
          "404": {
            "description": "Cannot find photo"
          }
        }
      }
    },
    "/orderSignature/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order signature",
        "description": "Retrieve picture of the order signature",
        "operationId": "orderSignature",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order signature"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/barcode/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order barcode",
        "description": "Retrieve picture of the order's barcode",
        "operationId": "barcode",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the barcode"
          }
        }
      }
    },
    "/referenceFields/{account}": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get reference fields",
        "description": "Get reference fields",
        "operationId": "referenceFields",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "refID": {
                    "type": "integer"
                  },
                  "typeDesc": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "maxLen": {
                    "type": "integer"
                  },
                  "defaultValue": {
                    "type": "string"
                  },
                  "required": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referenceDropDown/{refID}": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get reference drop down",
        "description": "",
        "operationId": "referenceDropDown",
        "parameters": [
          {
            "name": "refID",
            "in": "path",
            "required": true,
            "description": "Reference ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" :{
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ddvalue" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postReferenceFields": {
      "post": {
        "tags": [
          "Reference"
        ],
        "summary": "Post reference fields",
        "description": "Create new reference fields",
        "operationId": "postReferenceFields",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Reference field info",
            "required": true,
            "schema": {
              "properties": {
                "jobID": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Job ID"
                },
                "reference": {
                  "properties": {
                    "refID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Reference ID"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Reference Value"
                    }

                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }

      }
    },
    "/track/{jobID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get tracking details",
        "description": "Get tracking details of an order",
        "operationId": "track",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ORDER" :{
                    "type" : "integer"
                  },
                  "TIMESTAMP" :{
                    "type": "string",
                    "format":"date-time"
                  },
                  "color" :{
                    "type" : "string"
                  },
                  "filled" :{
                    "type" : "boolean"
                  },
                  "POSITION" :{
                    "type" : "string"
                  },
                  "inclTime" :{
                    "type" : "boolean"
                  },
                  "bigText" :{
                    "type" : "string"
                  },
                  "smallText" :{
                    "type" : "string"
                  }
                }
              }
            }
          }

        }
      }
    },
    "/jobGPS/{jobID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get location of order",
        "description": "Get location of order",
        "operationId": "jobGPS",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "properties" :{
                "slat" : {
                  "type" : "number",
                  "format" : "float"
                },
                "slong" : {
                  "type" : "number",
                  "format" : "float"
                },
                "clat" : {
                  "type" : "number",
                  "format" : "float"
                },
                "clong" : {
                  "type" : "number",
                  "format" : "float"
                },
                "last_driv" : {
                  "type" : "string"
                },
                "TripLat" : {
                  "type" : "number",
                  "format" : "float"
                },
                "TripLong" : {
                  "type" : "number",
                  "format" : "float"
                },
                "TripTimeUTC" : {
                  "type" : "string",
                  "format" : "date-time"
                },
                "TripLocation" : {
                  "type" : "string"
                },
                "DriverLat" : {
                  "type" : "number",
                  "format" : "float"
                },
                "DriverLong" : {
                  "type" : "number",
                  "format" : "float"
                },
                "Crumb1Lat" : {
                  "type" : "number"
                },
                "Crumb1Long" : {
                  "type" : "number"
                },
                "Crumb2Lat" : {
                  "type" : "number"
                },
                "Crumb2Long" : {
                  "type" : "number"
                },
                "Crumb3Lat" : {
                  "type" : "number"
                },
                "Crumb3Long" : {
                  "type" : "number"
                }
                
              }
            }
          },
          "500": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orderUpdateWeight/{account}/{jobID}": {
      "patch": {
        "tags": [
          "Reference"
        ],
        "summary": "Update weight",
        "description": "",
        "operationId": "orderUpdateWeight",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New Weight",
            "required": true,
            "schema": {
              "properties": {
                "newWeight": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Weight of package"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }

      }
    },
    "/getAddressByID/{account}/{addressID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get address",
        "description": "Get address by addressID",
        "operationId": "getAddressByID",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        }
      }
    },
    "/userEmails/{account}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get user emails",
        "description": "Get user emails of an account",
        "operationId": "getUserEmails",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/groupAccounts/{groupID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get accounts",
        "description": "Get accounts by group ID",
        "operationId": "groupAccounts",
        "parameters": [
          {
            "name": "groupID",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/loginToken": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Login Token",
        "description": "",
        "operationId": "loginToken",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Login token info",
            "required": true,
            "schema": {
              "properties": {
                "sso_token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/topAddress/{account}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Search address",
        "description": "Returns top ten address in the database matching search parameters",
        "operationId": "topAddress",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"accountID",
            "required":true,
            "type":"string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Address info",
            "required": true,
            "schema": {
              "properties": {
                "$": {
                  "type": "string",
                  "description": "address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/expandAddress/{account}/{skip}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Expand Address",
        "description": "",
        "operationId": "expandAddress",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"accountID",
            "required":true,
            "type":"string"
          },
          {
            "in": "path",
            "name": "skip",
            "description":"accountID",
            "required":true,
            "type":"integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Adress Info",
            "required": true,
            "schema": {
              "properties": {
                "$": {
                  "type": "string",
                  "description": "address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/addContact": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Add contact",
        "description": "Create new contact",
        "operationId": "addContact",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Contact Info",
            "required": true,
            "schema": {
              "properties": {
                "address": {
                  "type": "object",
                  "properties": {
                    "companyName": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    }
                  }
                }
                
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/userEmails": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create user email",
        "description": "",
        "operationId": "postUserEmails",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Email info",
            "required": true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string"
                },
                "caller": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "emailAddress": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/address": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create address",
        "description": "Create new address to the database. Must be a valid address.",
        "operationId": "address",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Address info",
            "required": true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "companyName": {
                      "type": "string"
                    },
                    "suite": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "quad": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "prov": {
                      "type": "string"
                    },
                    "postal": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float"
                    },
                    "long": {
                      "type": "number",
                      "format": "float"
                    }
                  }
                  
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description" : "OK",
            "schema" : {
              "$ref": "#/definitions/Address"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orderCall/{account}/{job}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create order call",
        "description": "",
        "operationId": "orderCall",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"accountID",
            "required":true,
            "type":"string"
          },
          {
            "in": "path",
            "name": "job",
            "description":"jobID",
            "required":true,
            "type":"integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Phone info",
            "required": true,
            "schema": {
              "properties": {
                "phone": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/invoicePassword": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Get invoice password",
        "description": "Retrive invoice password for an account",
        "operationId": "invoicePassword",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account info",
            "required": true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "definitions": {
    "Order": {
      "type": "object",
      "properties": {
        "account": {
          "type": "string",
          "maxLength" : 10,
          "description": "Account ID"
        },
        "shipAddressID": {
          "type": "integer",
          "format": "int64",
          "description": "Shipping Address ID"
        },
        "conAddressID": {
          "type": "integer",
          "format": "int64",
          "description": "Consign Address ID"
        },
        "del_inst": {
          "type": "string"
        },
        "cust_ref": {
          "type": "string"
        },
        "checkedEmail": {
          "type": "boolean"
        },
        "deliveryEmail": {
          "type": "string",
          "format":"email"
        },
        "rate" : {
          "type": "object",
          "properties": {
            "baseRate": {
              "type":"number",
              "format":"double"
            },
            "ser_time": {
              "type": "integer"
            },
            "ser_area": {
              "type": "string"
            },
            "dtdct": {
              "type": "string",
              "format":"date-time"
            },
            "dtCallIn": {
              "type": "string",
              "format":"date-time"
            }
          }
        },
        "email": {
          "type": "string",
          "format": "email",
          "description": "Email"
        },
        "pieces": {
          "type": "integer",
          "format": "int32",
          "description": "Number of packages"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of package"
        },
        "packageType": {
          "type": "string",
          "maxLength" : 40
        },
        "caller": {
          "type": "string",
          "description": "Caller"
        },
        "additionalEmail": {
          "type": "string",
          "format":"email"
        },
        "returnTripService" : {
          "type": "object",
          "properties": {
            "baseRate": {
              "type":"number",
              "format":"double"
            },
            "ser_time": {
              "type": "integer"
            },
            "dtdct": {
              "type": "string",
              "format":"date-time"
            }
          }
        }
      },
      "xml": {
        "name": "Order"
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format" : "email"
        },
        "password": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "userStatus": {
          "type": "integer",
          "format": "int32",
          "description": "User Status"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "companyName",
        "address",
        "city",
        "prov",
        "postal",
        "country"
      ],
      "properties": {
        "dbid" : {
          "type" : "string"
        },
        "addressID" : {
          "type" : "string"
        },
        "companyName": {
          "type": "string"
        },
        "suite": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "quad": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "prov": {
          "type": "string"
        },
        "postal": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "zone": {
          "type": "string"
        },
        "contact": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "lat": {
          "type": "number",
          "format": "float"
        },
        "long": {
          "type": "number",
          "format": "float"
        },
        "gpderror": {
          "type" : "boolean"
        },
        "locationID": {
          "type": "string"
        },
        "private": {
          "type" : "boolean"
        },
        "custNo": {
          "type": "string"
        },
        "contactID": {
          "type": "number"
        },
        "cnt": {
          "type": "number"
        },
        "cnt2": {
          "type": "number"
        },
        "hasGPS": {
          "type" : "number"
        },
        "rowNumber": {
          "type" : "number"
        },
        "events": {
          "type" : "number"
        },
        "addressExtID": {
          "type" : "string"
        },
        "LastDate": {
          "type" : "string",
          "format":"date-time"
        }
        
      },
      "xml": {
        "name": "Address"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },

  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
