{
  "swagger": "2.0",
  "info": {
    "version": "1.1.0",
    "title": "DirectIt API",
    "description": "Information on using the endpoints can be found here:"
  },
  "host": "api.directx.ca",
  "basePath": "/",
  "tags": [
    {
      "name": "Orders",
      "description": "API calls for shipments"
    },
    {
      "name": "Sms",
      "description": "Write SMS messages to send to clients"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],

  "paths": {
    "/sendSMS": {
      "post": {
        "tags": [
          "Sms"
        ],
        "summary": "Send a message",
        "description": "",
        "operationId": "sendSMS",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Send message with tracking number and order status",
            "required": true,
            "schema": {
              "properties": {
                "phonenumber": {
                  "type": "string",
                  "description": "Phone Number"
                },
                "trackingNumber": {
                  "type": "string",
                  "description": "Tracking Number"
                },
                "url": {
                  "type": "string",
                  "description": "Tracking URL"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      },
      "security": [
        {
          "api_key": []
        }
      ]
    },
    "/order": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Make an order",
        "description": "Create a new order",
        "operationId": "postOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Order info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description" : "OK",
            "schema" :{
              "type": "object",
              "properties" : {
                "companyID" : {
                  "type" : "integer",
                  "description" : "companyID"
                },
                "jobID" : {
                  "type" : "string",
                  "description" : "jobID"
                },
                "foxJob" : {
                  "type" : "string",
                  "description" : "foxJob"
                },
                "email_req" : {
                  "type" : "string",
                  "format" : "email",
                  "description" : "Email"
                },
                "email_addr" : {
                  "type" : "string",
                  "format" : "email",
                  "description" : "email address"
                },
                "ship_addressID" : {
                  "type" : "string",
                  "description" : "Shipping Address ID"
                },
                "trackingNumber" : {
                  "type" : "string",
                  "description" : "Tracking Number for users to track their package"
                },
                "isEmailSent" : {
                  "type" : "integer",
                  "description" : "Number of emails sent"
                },
                "result" : {
                  "type" : "string",
                  "description" : "Result"
                },
                "returnJobID" : {
                  "type" : "string",
                  "description" : "Return jobID"
                },
                "returnTrackingNumber" : {
                  "type" : "string",
                  "description" : "Return tracking number"
                },
                "returnFoxJob" : {
                  "type" : "string",
                  "description" : "Return foxJob"
                },
                "returnResult" : {
                  "type" : "string",
                  "description" : "Return result"
                }
                
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/order/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "Get order by account ID and job ID",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        }
      }
    },
    "/orders/{account}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get orders",
        "description": "Get orders of an account",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Order"
              }

            }
          }

        }
      }
    },
    
    "/zpl/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order zpl label",
        "description": "",
        "operationId": "zpl",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a ZPL Label"
          },
          "500": {
            "description": "Cannot find order info"
          }
        }
      }
    },
    
    "/orderPhoto/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order photo",
        "description": "Retrieve first photo of the order",
        "operationId": "orderPhoto",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order"
          },
          "404": {
            "description": "Cannot find photos"
          }
        }
      }
    },
    "/orderPhoto/{account}/{jobID}/{photoNumber}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order photo",
        "description": "Retrieve photo of the order",
        "operationId": "orderPhotoByNumber",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          },
          {
            "name": "photoNumber",
            "in": "path",
            "required": true,
            "description": "Photo number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order"
          },
          "404": {
            "description": "Cannot find photo"
          }
        }
      }
    },
    "/orderSignature/{account}/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order signature",
        "description": "Retrieve picture of the order signature",
        "operationId": "orderSignature",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the order signature"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/barcode/{jobID}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order barcode",
        "description": "Retrieve picture of the order's barcode",
        "operationId": "barcode",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation complete, returns a picture of the barcode"
          }
        }
      }
    },
    "/referenceFields/{account}": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get reference fields",
        "description": "Get reference fields",
        "operationId": "referenceFields",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "refID": {
                    "type": "integer",
                    "description" : "Reference ID"
                  },
                  "typeDesc": {
                    "type": "string",
                    "description" : "Description"
                  },
                  "label": {
                    "type": "string",
                    "description" : "Label"
                  },
                  "maxLen": {
                    "type": "integer",
                    "description" : "Maximum length"
                  },
                  "defaultValue": {
                    "type": "string",
                    "description" : "Default Value"
                  },
                  "required": {
                    "type": "boolean",
                    "description" : "Required"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referenceDropDown/{refID}": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Get reference drop down",
        "description": "",
        "operationId": "referenceDropDown",
        "parameters": [
          {
            "name": "refID",
            "in": "path",
            "required": true,
            "description": "Reference ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" :{
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ddvalue" : {
                    "type" : "string",
                    "description" : "Drop down value"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/postReferenceFields": {
      "post": {
        "tags": [
          "Reference"
        ],
        "summary": "Post reference fields",
        "description": "Create new reference fields",
        "operationId": "postReferenceFields",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Reference field info",
            "required": [
              "jobID",
              "reference"
            ],
            "schema": {
              "properties": {
                "jobID": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Job ID"
                },
                "reference": {
                  "properties": {
                    "refID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Reference ID"
                    },
                    "value": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Reference Value"
                    }

                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }

      }
    },
    "/track/{jobID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get tracking details",
        "description": "Get tracking details of an order",
        "operationId": "track",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "ORDER" :{
                    "type" : "integer",
                    "description" : "Order ID"
                  },
                  "TIMESTAMP" :{
                    "type": "string",
                    "format":"date-time",
                    "description" : "Time Stamp"
                  },
                  "color" :{
                    "type" : "string",
                    "description" : "Color"
                  },
                  "filled" :{
                    "type" : "boolean",
                    "description" : "Filled status"
                  },
                  "POSITION" :{
                    "type" : "string",
                    "description" : "Position"
                  },
                  "inclTime" :{
                    "type" : "boolean",
                    "description" : "Include time"
                  },
                  "bigText" :{
                    "type" : "string",
                    "description" : "Big text"
                  },
                  "smallText" :{
                    "type" : "string",
                    "description" : "Small Text"
                  }
                }
              }
            }
          }

        }
      }
    },
    "/jobGPS/{jobID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get location of order",
        "description": "Get location of order",
        "operationId": "jobGPS",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "properties" :{
                "slat" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Start latitude"
                },
                "slong" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Start longitude"
                },
                "clat" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Current latitude"
                },
                "clong" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Current longitude"
                },
                "last_driv" : {
                  "type" : "string",
                  "description" : "Last Driver"
                },
                "TripLat" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Trip Latitude"
                },
                "TripLong" : {
                  "type" : "number",
                  "format" : "float",
                  "description" : "Trip Longitude"
                },
                "TripTimeUTC" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Trip Time in UTC"
                },
                "TripLocation" : {
                  "type" : "string",
                  "description" : "Trip Location"
                },
                "DriverLat" : {
                  "type" : "number",
                  "format" : "float"
                },
                "DriverLong" : {
                  "type" : "number",
                  "format" : "float"
                },
                "Crumb1Lat" : {
                  "type" : "number"
                },
                "Crumb1Long" : {
                  "type" : "number"
                },
                "Crumb2Lat" : {
                  "type" : "number"
                },
                "Crumb2Long" : {
                  "type" : "number"
                },
                "Crumb3Lat" : {
                  "type" : "number"
                },
                "Crumb3Long" : {
                  "type" : "number"
                }
                
              }
            }
          },
          "500": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orderUpdateWeight/{account}/{jobID}": {
      "patch": {
        "tags": [
          "Reference"
        ],
        "summary": "Update weight",
        "description": "",
        "operationId": "orderUpdateWeight",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "jobID",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "New Weight",
            "required": true,
            "schema": {
              "properties": {
                "newWeight": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Weight of package"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }

      }
    },
    "/getAddressByID/{account}/{addressID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get address",
        "description": "Get address by addressID",
        "operationId": "getAddressByID",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        }
      }
    },
    "/userEmails/{account}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get user emails",
        "description": "Get user emails of an account",
        "operationId": "getUserEmails",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type":"object",
                "properties" : {
                  "username": {
                    "type": "string",
                    "description" : "Username"
                  },
                  "emailAddress": {
                    "type" : "string",
                    "format" : "email",
                    "description" : "Email"
                  },
                  "sendNotification": {
                    "type" : "boolean",
                    "description" : "Subscribed to notifications"
                  },
                  "LastDate": {
                    "type" : "string",
                    "format" : "date-time",
                    "description" : "Last date used"
                  },
                  "tripCount": {
                    "type" : "integer",
                    "description" : "Number of trips"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groupAccounts/{groupID}": {
      "get": {
        "tags": [
          "Track"
        ],
        "summary": "Get accounts",
        "description": "Get accounts by group ID",
        "operationId": "groupAccounts",
        "parameters": [
          {
            "name": "groupID",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "accountName": {
                      "type" : "string",
                      "description" : "Name of account"
                    },
                    "account" : {
                      "type" : "string",
                      "description" : "Account ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/loginToken": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Login Token",
        "description": "",
        "operationId": "loginToken",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Login token info",
            "required": true,
            "schema": {
              "properties": {
                "sso_token": {
                  "type": "string",
                  "description" : "SSO Token for login"
                }
              }
            }
          }
        ],
        "responses": {
          "401" : {
            "description" : "sso_token not found"
          },
          "200": {
            "description": "OK",
            "schema" : {
              "properties" : {
                "message": {
                  "type" : "string",
                  "description" : "Message: Login successful!"
                },
                "preferences": {
                  "properties" :{
                    "email_Req": {
                      "type" : "string"
                    },
                    "CompanyID": {
                      "type" : "integer"
                    },
                    "email_addr": {
                      "type" : "string",
                      "format" : "email"
                    },
                    "ship_addressID": {
                      "type" : "string"
                    },
                    "phone": {
                      "type" : "string"
                    },
                    "groupID": 76,
                    "openTime": {
                      "type" : "string"
                    },
                    "closeTime": {
                      "type" : "string"
                    }
                  }
                },
                "userReal": {
                  "properties" : {
                    "ACCOUNT": {
                      "type" : "string"
                    },
                    "SHIPPER": {
                      "type" : "string"
                    },
                    "ADDRESS": {
                      "type" : "string"
                    },
                    "LOCATION": {
                      "type" : "string"
                    },
                    "CITY": {
                      "type" : "string"
                    },
                    "POSTAL": {
                      "type" : "string"
                    },
                    "PHONE": {
                      "type" : "string"
                    },
                    "CALLER": {
                      "type" : "string"
                    },
                    "FAX": {
                      "type" : "string"
                    },
                    "SURCHARGE": {
                      "type" : "number"
                    },
                    "PASSWORD": {
                      "type" : "string"
                    },
                    "accountID": {
                      "type" : "number"
                    },
                    "addressID": {
                      "type" : "string"
                    },
                    "HasInvoicePassword": {
                      "type" : "integer"
                    },
                    "referenceRequired": {
                      "type" : "boolean"
                    }

                  }
                  
                },
                "user": {
                  "properties" : {
                    "user_name": {
                      "type" : "string"
                    },
                    "accountNumber": {
                      "type" : "string"
                    },
                    "groupID": {
                      "type" : "integer"
                    },
                    "HasInvoicePassword": {
                      "type" : "integer"
                    },
                    "referenceRequired": {
                      "type" : "boolean"
                    },
                    "address": {
                      "properties" : {
                        "addressID": {
                          "type" : "string"
                        },
                        "companyName": {
                          "type" : "string"
                        },
                        "address": {
                          "type" : "string"
                        },
                        "city": {
                          "type" : "string"
                        },
                        "postalCode": {
                          "type" : "string"
                        },
                        "phone": {
                          "type" : "string"
                        },
                        "HasGPS": {
                          "type" : "boolean"
                        }
                      }
                    },
                    "email": {
                      "type" : "string",
                      "format" : "email"
                    }
                  }
                }
              }
              
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/topAddress/{account}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Search address",
        "description": "Returns top ten address in the database matching search parameters",
        "operationId": "topAddress",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"accountID",
            "required":true,
            "type":"string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Address info",
            "required": true,
            "schema": {
              "properties": {
                "$": {
                  "type": "string",
                  "description": "Address search query"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/expandAddress/{account}/{skip}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Expand Address",
        "description": "",
        "operationId": "expandAddress",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"Account ID",
            "required":true,
            "type":"string"
          },
          {
            "in": "path",
            "name": "skip",
            "description":"Number of search results to skip",
            "required":true,
            "type":"integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Address Info",
            "required": true,
            "schema": {
              "properties": {
                "$": {
                  "type": "string",
                  "description": "Address search query"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/addContact": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Add contact",
        "description": "Create new contact",
        "operationId": "addContact",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Contact Info",
            "required": true,
            "schema": {
              "properties": {
                "address": {
                  "type": "object",
                  "properties": {
                    "companyName": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    }
                  }
                }
                
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/userEmails": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create user email",
        "description": "",
        "operationId": "postUserEmails",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Email info",
            "required": true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string"
                },
                "caller": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "emailAddress": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema" : {
              "properties" : {
                "message" : {
                  "type" : "string"
                },
                "data" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/address": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create address",
        "description": "Create new address to the database. Must be a valid address.",
        "operationId": "address",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Address info",
            "required":true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string",
                  "required":true
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "companyName": {
                      "type": "string",
                      "description" : "Company Name",
                      "required":true
                    },
                    "suite": {
                      "type": "string",
                      "description" : "Address suite"
                    },
                    "address": {
                      "type": "string",
                      "description" : "Address line",
                      "required":true
                    },
                    "quad": {
                      "type": "string",
                      "description": "Quad if there exists one (NE, SE, NW, SW)"
                    },
                    "city": {
                      "type": "string",
                      "description" : "City",
                      "required":true
                    },
                    "prov": {
                      "type": "string",
                      "description" : "Province",
                      "required":true
                    },
                    "postal": {
                      "type": "string",
                      "description" : "Postal code",
                      "required":true
                    },
                    "country": {
                      "type": "string",
                      "description" : "Country",
                      "required":true
                    },
                    "phone": {
                      "type": "string",
                      "description" : "Phone number"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description" : "Latitude"
                    },
                    "long": {
                      "type": "number",
                      "format": "float",
                      "description" : "Longitude"
                    }
                  }
                  
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description" : "OK",
            "schema" : {
              "$ref": "#/definitions/Address"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orderCall/{account}/{job}": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Create order call",
        "description": "",
        "operationId": "orderCall",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "description":"accountID",
            "required":true,
            "type":"string"
          },
          {
            "in": "path",
            "name": "job",
            "description":"jobID",
            "required":true,
            "type":"integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Phone info",
            "required": true,
            "schema": {
              "properties": {
                "phone": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/invoicePassword": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Get invoice password",
        "description": "Retrive invoice password for an account",
        "operationId": "invoicePassword",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Account info",
            "required": true,
            "schema": {
              "properties": {
                "accountNumber": {
                  "type": "string",
                  "required": true
                },
                "password": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "definitions": {
    "Order": {
      "type": "object",
      "properties": {
        "account": {
          "type": "string",
          "maxLength" : 10,
          "description": "Account ID"
        },
        "shipAddressID": {
          "type": "integer",
          "format": "int64",
          "description": "Shipping Address ID"
        },
        "conAddressID": {
          "type": "integer",
          "format": "int64",
          "description": "Consign Address ID"
        },
        "del_inst": {
          "type": "string",
          "description": "Deliver Instruction"
        },
        "cust_ref": {
          "type": "string",
          "description": "Customer Reference"
        },
        "checkedEmail": {
          "type": "boolean",
          "description": "True if email is checked"
        },
        "deliveryEmail": {
          "type": "string",
          "format":"email",
          "description": "Delivery Email"
        },
        "rate" : {
          "type": "object",
          "properties": {
            "baseRate": {
              "type":"number",
              "format":"double",
              "description": "Base Rate charges"
            },
            "ser_time": {
              "type": "integer",
              "description": "Service time"
            },
            "ser_area": {
              "type": "string",
              "description": "Service area"
            },
            "dtdct": {
              "type": "string",
              "format":"date-time",
              "description": "Deliver Time"
            },
            "dtCallIn": {
              "type": "string",
              "format":"date-time",
              "description": "Deliver Time Call In"
            }
          }
        },
        "email": {
          "type": "string",
          "format": "email",
          "description": "Email"
        },
        "pieces": {
          "type": "integer",
          "format": "int32",
          "description": "Number of packages"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of package"
        },
        "packageType": {
          "type": "string",
          "description": "Type of package",
          "enum" : [
            "Envelope",
            "Package",
            "Box",
            "Skid",
            "Roll",
            "Binder",
            "Book",
            "Drycleaning",
            "Flowers",
            "Bag",
            "Other"
          ]
        },
        "caller": {
          "type": "string",
          "description": "Caller name"
        },
        "additionalEmail": {
          "type": "string",
          "format":"email",
          "description": "Additional email"
        },
        "returnTripService" : {
          "type": "object",
          "properties": {
            "baseRate": {
              "type":"number",
              "format":"double",
              "description": "Return trip base rate"
            },
            "ser_time": {
              "type": "integer",
              "description": "Return trip service time"
            },
            "dtdct": {
              "type": "string",
              "format":"date-time",
              "description": "Return trip delivery time"
            }
          }
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "dbid" : {
          "type" : "string",
          "description": "Database ID"
        },
        "addressID" : {
          "type" : "string",
          "description": "Address ID"
        },
        "companyName": {
          "type": "string",
          "description": "Company name"
        },
        "suite": {
          "type": "string",
          "description": "Address Suite"
        },
        "address": {
          "type": "string",
          "description": "Address Line"
        },
        "quad": {
          "type": "string",
          "description": "Quad if there exists one (NE, SE, NW, SW)"
        },
        "city": {
          "type": "string",
          "description": "City"
        },
        "prov": {
          "type": "string",
          "description": "Province"
        },
        "postal": {
          "type": "string",
          "description": "Postal Code"
        },
        "country": {
          "type": "string",
          "description": "Country"
        },
        "zone": {
          "type": "string",
          "description": "Delivery Zone"
        },
        "contact": {
          "type": "string",
          "description": "Contact name"
        },
        "phone": {
          "type": "string",
          "description": "Contact phone number"
        },
        "lat": {
          "type": "number",
          "format": "float",
          "description": "Latitude"
        },
        "long": {
          "type": "number",
          "format": "float",
          "description": "Longitude"
        },
        "gpserror": {
          "type" : "boolean",
          "description": "Returns true if there is GPS error"
        },
        "locationID": {
          "type": "string",
          "description": "Location ID"
        },
        "private": {
          "type" : "boolean",
          "description": "Returns true if address is private"
        },
        "custNo": {
          "type": "string",
          "description": "Customer Number"
        },
        "contactID": {
          "type": "number",
          "description": "Contact ID"
        },
        "cnt": {
          "type": "number"
        },
        "cnt2": {
          "type": "number"
        },
        "hasGPS": {
          "type" : "number"
        },
        "rowNumber": {
          "type" : "number"
        },
        "events": {
          "type" : "number"
        },
        "addressExtID": {
          "type" : "string"
        },
        "LastDate": {
          "type" : "string",
          "format":"date-time",
          "description": "Last Date Used"
        }
        
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },

  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "externalDocs": {
    "description": "DirectIt developer API documentation",
    "url": "https://api.directx.ca/documentation"
  }
}
